/* --------------- ESPECIFICAÇÕES ----------------------------- */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root{
    font-size: 62,5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto';
}

/* --------------- NAV BAR ----------------------------- */

nav{
    background: #290742;
    position: fixed;
    top:0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

nav ul li{
    font-size: 1.2rem;
    list-style: none;
}

ul{
    display: flex;  
}

li{
    padding: 2rem;
}

a h2:hover{
    color: #9E6DC2;
    transition: .8s;
}

a:hover{
    color: #9E6DC2;
    transition: .8s;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 310;
}

#search{
    width: 230px;
    height: 44px;
    background: #170027;
    border-radius: 4px 0px 0px 4px;
    border: #170027;
    color: white;
}



#search::placeholder{
    padding-left: 25px;
}


/* DIV DO INPUT DE BUSCA */

#busca{
    display: flex;
    cursor: pointer;
}

/* --------------- CONTEÚDO DO HEADER ----------------------------- */


header{
    width: 100%;
    height: 32.6rem;
    display: flex;
    align-items: center;
    background-color: #290742;
}

#box1{
    display: flex;
    flex-direction: column;
    width: 57rem;
    height: 31.1rem;
    padding-left: 5.9rem;
}

#box2{
    width: 57rem;
    height: 28.6rem;
    margin-top: 150px;
}



#box1 h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 5.4rem;
    color: #9E6DC2;
    margin-top: 80px;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 27px;
    color: white;
    padding-top: 18px;
}

#veja{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #9E6DC2;
}

#box2 img{
    width: 570px;
    height: 346px;   
}

/* VEJA MAIS E VETOR DE SETA */

.veja{
    width: 7.5rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
    cursor: pointer;
}


/* --------------- CONTEÚDO DA PÁGINA ----------------------------- */


section{
    display: flex;
    padding-top: 6rem;
}

section p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 350;
    font-size: 17px;
    line-height: 27px;
    color: black;
    padding-top: 18px;
}

h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #290742;
}

.pp{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#box3{
    width: 57rem;
    display: flex;
    flex-direction: column;
    padding-left: 5.8rem;
}

/* #box3 img{
    width: 570px;
    height: 346px;
    margin-top: 1.5rem;
} */

#box4{
    width: 57rem;
    display: flex;
    flex-direction: column;

}


/* MARGIN-TOP DO SEGUNDO P: JANEIRO 04 2022 */


h2{
    margin-top: 1.5rem;
}


#p-2{
    margin-top: 1rem;
}


#media{
    margin-top: 15px;
}

/* --------------- CONTEÚDO DA PÁGINA - GRID ----------------------------- */

.wrapper {
    display: flex;
  }

  .wrapper img{
    width: 20rem;
    
  }
  
.wrapper div{
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.wrapper div img{
    align-self: center;
}

.wrapper h2{
    margin-left: 60px;
}

.wrapper p{
    margin-left: 60px;
}






/* --------------- FOOTER ----------------------------- */

footer{
    width: 100%;
    height: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #290742;
    margin-top: 100px;
}

label{
    color: white;
}

#email{
    width: 230px;
    height: 44px;
    margin-top: 10px;
    background: #170027;
    border-radius: 4px 0px 0px 4px;
    color: white;
    border: #170027;
}

#email::placeholder{
    padding-left: 10px;
}

#submit{
    width: 111px;
    height: 44px;
    margin-top: 10px;
    background: #170027;
    border-radius: 3px;
    color: white;
    border: #170027 1px solid;

    cursor: pointer;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


#up{
    align-self: flex-end;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}